<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
    <meta charset="UTF-8">
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>

<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/items/'+item.getId()}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>

    <!-- Информация о балансе: показываем только если сервис доступен -->
    <tr th:if="${serviceAvailable}">
        <td style="text-align:right">
            <p th:text="'Ваш баланс: '+${balance}+' руб.'"></p>
        </td>
    </tr>

    <tr>
        <td style="text-align:right">
            <!-- Кнопка покупки: показываем только если корзина не пуста, сервис доступен и средств достаточно -->
            <form action="/buy" method="post" th:if="${!empty && serviceAvailable && !insufficientFunds}">
                <button>Купить</button>
            </form>

            <!-- Сообщение о недостаточности средств: показываем если сервис доступен, но средств недостаточно -->
            <p th:if="${!empty && serviceAvailable && insufficientFunds}" style="color: red;">
                Недостаточно средств на счету для оформления заказа!
            </p>

            <!-- Сообщение о недоступности сервиса платежей: показываем только если сервис недоступен -->
            <p th:if="${!empty && !serviceAvailable}" style="color: red;">
                Сервис платежей недоступен. Попробуйте позже.
            </p>
        </td>
    </tr>
</table>
</body>

</html>